1. What are data structures, and why are they important
 ->Data structures are ways to organize and store data in a computer so that it can be efficiently accessed, modified, and manipulated. They are important because they enable efficient data management, reduce computational complexity, and improve code readability.
2. Explain the difference between mutable and immutable data types with examples
 ->Mutable data types can be modified after creation, while immutable data types cannot.
Examples:
- Mutable:  my_list = [1, 2, 3];
my_list[0] = 10
- Immutable:  my_tuple = (1, 2, 3);
my_tuple[0] = 10 #would raise an error
3. What are the main differences between lists and tuples in Python
 ->Lists are mutable, while tuples are immutable. Lists are defined using square brackets [], while tuples are defined using parentheses ().
Example:
my_list = [1, 2, 3]#list example
my_list[0] = 10  # Valid
my_tuple = (1, 2, 3)#tuple example
my_tuple[0] = 10  # Raises an error
4.  Describe how dictionaries store data
 ->Dictionaries store data as key-value pairs. They are defined using curly brackets {}.
Example:
my_dict = {'name': 'shivendra', 'age': 20}
print(my_dict['name'])  # Output: shivendra
5. Why might you use a set instead of a list in Python ->Sets are unordered collections of unique elements. They are defined using the set() function.
Example:
my_set = set([1, 2, 2, 3, 4, 4, 5])
print(my_set)  # Output: {1, 2, 3, 4, 5}
6. What is a string in Python, and how is it different from a list->Strings are immutable sequences of characters. characters are represented using numerical values>>each character is assigned a unique value
Example:
my_string = 'hello world'
print(my_string[0])  # Output: h
7. How do tuples ensure data integrity in Python
 ->Tuples ensures data intergrity by being immutable,which means their contents cannot be modified after creation.
8. What is a hash table, and how does it relate to dictionaries in Python
 ->Hash tables are data structure that store key-value pairs using a hash function.Dictionaries in python are implement using hash tables.
9.  Can lists contain different data types in Python
 ->List can contain different data types including strings,integers,floats and other lists.
10. Explain why strings are immutable in Python
 ->Strings are immutable in python because they implemented as tuples of character,which are also immutable
11. What advantages do dictionaries offer over lists for certain tasks
 ->Dictionaries offer faster loockups and insertion compared to lists,especially for large datasets.
12. Describe a scenario where using a tuple would be preferable over a list
 -> Tuples are preferable over lists when data integrity is important,and the data should not be modified after creation.
13.  How do sets handle duplicate values in Python
 ->Sets handle duplicate values by automatically removing them.
14.  How does the “in” keyword work differently for lists and dictionaries
 ->For lists,it checks if value present in the list. For dictionaries,it checks if a key present in the dictionaries.
15. Can you modify the elements of a tuple? Explain why or why not
 ->tuples cannot be modified after creation because they are data integrity by being immutable.
16. What is a nested dictionary, and give an example of its use case
 -> Nested dictionaries that contains other dictionaries as values.
 Example:
 my_dict = {'name': 'shivendra', 'age': 20}
print(my_dict['name'])  # Output: shivendra
17. Describe the time complexity of accessing elements in a dictionary
 -> Accessing elements in dictionary has an average time complexity of O(1),making it very efficient.
18. In what situations are lists preferred over dictionaries
 ->Lists are preffered over dictionaries when the data is ordered or needs to be accessed by index.
19. Why are dictionaries considered unordered, and how does that affect data retrieval
 ->Dictionaries are considered unordered because the order of the key-value pairs is not gauranteed. this affects data retrieval because you cannot rely on the order of the items.
20. Explain the difference between a list and a dictionary in terms of data retrieval.->Lists allow data retrieval by index, while dictionaries allow data retrieval by key.

In [1]:
#1 Write a code to create a string with your name and print it
name = "shivendra"
print(name)

shivendra

In [2]:
#2 Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
#3 Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
#4 Write a code to convert the string "hello" to uppercaseE
string = "hello"
print(string.upper())

HELLO

In [5]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

In [6]:
#6 Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [11]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [12]:
#11 Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [13]:
#12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [14]:
#13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [15]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [16]:
#15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
print("banana" in tuple)

True

In [17]:
#16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [20]:
#17 Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1,2,3}
set.add(6)
print(set)

{1, 2, 3, 6}

In [21]:
#18 Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple= (10,20,30)
print(tuple)

(10, 20, 30)

In [22]:
#19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple = ('apple', 'banana', 'cherry')
print(tuple[0])

apple

In [23]:
#20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [24]:
#21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [25]:
#22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
print("banana" in tuple)

True

In [26]:
# 23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [27]:
#24 Write a code to add the element 6 to the set {1, 2, 3, 4}.
set= {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}